<footer>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <p class="col-4 my-auto align-middle retour"><a href="{{site.url}}"> ← Retour</a></p>
                <p class="col-4 my-auto align-middle text-center">Mehdi Aoussat </br> UX Researcher</p>
                <ul class="my-auto align-middle list-inline col-4 text-right align-middle" >
                    <li class="list-inline-item" style="font-size:16pt;"></li>
                    <li class="list-inline-item"><a class="btn btn-primary" href="mailto:mehdi.aoussat@gmail.com">E-mail</a></li>
                    <li class="list-inline-item"><a class="btn btn-secondary"target="_blank" href="https://www.linkedin.com/in/mehdi-aoussat/">LinkedIn</a></li>
                    <li class="list-inline-item"><a class="btn btn-secondary" href="{{site.url}/assets/file/CV.pdf">CV</a></li>
                </ul> 
            </div>
        </div>
    </div>
        </p>
</footer> 